.Cards{
   
margin-top: 5em;
width:24rem;
height: 24rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.Place-image{

    width: 20rem;
    height: 20rem;
    
    

    img{
        overflow-y: hidden;
        overflow-x: hidden;
        height: 19rem;
        width: 20rem;
        border-radius:0.4rem;
    }
  
    
}