.Living-Info {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Room-title {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.Location-media {
 
  width: 100vw;
  height: 60vh;
  
  display: flex;

  .Videos {
    
    width: 50vw;
    height: 60vh;
    margin: auto;
    margin-top: 0;

    video {
      overflow: hidden;
      background-size: cover;
      width: 90%;
      height: 90%;
    }
  }

  .Images {
    margin: auto;
    margin-top: 0;
    width: 44vw;
    height: 55vh;
    
    display: flex;
    flex-wrap: wrap;

    img{
      padding:0.1rem;
      width: 95%;
    height: 95%;
    }
  }
}


.description-pricing{
  
  width: 100vw;
  display: flex;
  justify-content: space-around;
  
  .Room-details{
    width: 40vw;
    border-radius: 2rem;
    height: 30vh;
   border: 1px solid black;
  }

  .Room-pricing{
    display: flex;
    flex-direction: column;
    width:40vw;
    height:30vh;
    border: 1px solid black;
    border-radius:2rem;


    .price-tag{
      display: flex;
     
      column-gap: 2rem;
      
            label{
        font-size: 1.2rem;
        font-weight: 500;
        height: 5rem;
        
      }

      input{

        border: none ; 
        width:25vw;
        border-bottom: 2px solid black;
      }
    }
  }

}

.Facilities{
  display: flex;
  width: 90vw;
  height: 50vh;
    justify-content: space-around;

    .Facility{
      border: 1px solid black;
      border-radius: 2rem;
      width: 15rem;
      min-height: fit-content;
      text-align: center;
    }

    .Limitation{
      border: 1px solid black;
      border-radius: 2rem;
      width: 15rem;
      min-height: fit-content;
      text-align: center;
    }
}


