@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Rakkas&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

.SignUp-Box {
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
  width: 60vw;
  height: 95vh;
  border: 1px solid black;

  h2 {
    text-align: center;
  }
}

.SignUp-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 45vw;

  .tags {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 2rem;

    label {
      font-size: 1.7rem;
    }

    input {
      font-size: 1.3rem;
      font-family: "Rakkas", serif;
      font-weight: 100;
      font-style: normal;
      width: 30vw;
      height: 4.5vh;
      border: none;
      border-bottom: 2px solid black;
    }
  }
}

.SignUp-Button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5.5vh;
    font-size: 2rem;
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 0.5rem;
    background-color: white;
    border: 2px solid black;
  }
}

.SignUp-Link {


    
  .Google {
    
    text-align: center;
    
    width: 12rem;
    border: 1.5px solid black;
    border-radius: 1.2rem;
    
  }
}
